@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
/* Neutral colors */

/* Basic colors */
/* Basic layout settings */

/* Basic typography */


/* Display text */

  /* Regular */

  /* Small */

  /* Large */

  /* Extra large */

/* Heading */

/* Subheading */

/* Caption */

/* Button */
*,
*:before,
*:after {
  box-sizing: border-box;
}

button,
html,
input,
optgroup,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: calc(14px * 1.5);
  letter-spacing: 0;
  background: #EFEFEF;
}

section {

  margin: 15px 0
}

section ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.display-text {
  font-size: 21px;
  line-height: calc(21px * 1.5);
  font-weight: 600;
  letter-spacing: 0;
  margin: 0;
}

.display-text--small {
  font-size: 16px;
  line-height: calc(16px * 1.5);
  font-weight: 600;
}

.display-text--regular {
  font-size: 21px;
  line-height: calc(21px * 1.5);
  font-weight: 600;
}

.display-text--large {
  font-size: 24px;
  line-height: calc(24px * 1.5);
  font-weight: 600;
}

.display-text--extra-large {
  font-size: 28px;
  line-height: calc(28px * 1.5);
  font-weight: 600;
}
.heading {
  font-size: 17px;
  line-height: calc(17px * 1.5);
  font-weight: 600;
  margin: 0;
  letter-spacing: 0;
}
.subheading {
  font-size: 13px;
  line-height: calc(13px * 1.5);
  font-weight: 600;
  margin: 0;
  letter-spacing: 0;
}
.caption {
  margin: 0;
  font-size: 12px;
  line-height: calc(12px * 1.5);
  letter-spacing: 0;
}
.content {
  padding: 15px 15px 15px calc(230px + 15px);
}
.sidebar {
  background: #373737;
  width: 230px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;

  & ul {
    list-style: none;
    margin: 0;
    padding: 50px 0 0;
  }

  & nav {
    width: 100%;
  }
}

.sidebar-item {
  color: #fff;
  border-bottom: 1px solid #6E6E6E;
  padding: 15px;

  &:last-child {
    border: none;
  }

  & a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      color: #3ECED2;
    }
  }
}
.card {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
  display: block;
}

.card-header {
  padding: 20px 20px 0;
}

.card-header .caption {
  color: #7d7d7d;
}

.card-body {
  font-size: 1rem;
  padding: 20px;
}

.card-footer {
  font-size: 14px;
  line-height: 21px;
  padding: 20px;
  border-top: 1px solid #dfe3e8;
}
.row {
  margin: 0 -10px;
  display: block;
}

.row:after {
  content: '';
  clear: both;
  display: table;
}

.col {
  float: left;
}

.col-1 {
  width: calc(100% / 12);
}


.col-2 {
  width: calc(100% / (12 / 2));
}

.col-3 {
  width: calc(100% / (12 / 3));
}

.col-4 {
  width: calc(100% / (12 / 4));
}

.col-5 {
  width: calc(100% / (12 / 5));
}

.col-6 {
  width: calc(100% / (12 / 6));
}

.col-7 {
  width: calc(100% / (12 / 7));
}

.col-8 {
  width: calc(100% / (12 / 8));
}

.col-9 {
  width: calc(100% / (12 / 9));
}

.col-10 {
  width: calc(100% / (12 / 10));
}

.col-11 {
  width: calc(100% / (12 / 11));
}

.col-12 {
  width: 100%;
}

.page-typography {

  & section > ul {
    &> li {
      background: #fff;
      padding: 15px;
      margin: 0 0 15px;
      box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);

      & ul {
        & li {
          display: inline-block;
          padding: 0 15px;
        }
      }
    }
  }

  & .button-text-style {
    font-size: 12px;
    line-height: calc(12px * 1.5);
    font-weight: 600;
  }

  & .button-small-text-style {
    font-size: 10px;
    line-height: calc(10px * 1.5);
    font-weight: 400;
  }

  & .row {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.page-grid {

  padding: 15px 0;

  & .card {
    margin-bottom: 15px;
  }

  & .row {
    margin: 0 0 15px;

    &:last-child {
      margin: 0;
    }
  }

  & .col {

    &> span {
      display: block;
      background: #4A90E2;
      padding: calc(15px / 2);
      font-weight: bold;
      text-align: center;
      color: #fff;
    }
  }
}
.page-colors {
  & .color {
    width: 100%;
    height: 40px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    &:nth-child(1),
    &:nth-child(2) {
      color: #000;
    }
  }

  & .card {
    margin: 0 0 15px;
  }
}
