@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.content {
  padding: 15px 15px 15px calc(230px + 15px);
}
.sidebar {
  background: #373737;
  width: 230px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 0 0;
}
