@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
/* Neutral colors */

/* Basic colors */
/* Basic layout settings */

/* Basic typography */


/* Display text */

  /* Regular */

  /* Small */

  /* Large */

  /* Extra large */

/* Heading */

/* Subheading */

/* Caption */

/* Button */

/* Input */

  /* Error */

  /* Disabled */

  /* Input with an icon */
*,
*:before,
*:after {
  box-sizing: border-box;
}

button,
html,
input,
optgroup,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: calc(14px * 1.5);
  letter-spacing: 0;
  background: #EFEFEF;
}

section {

  margin: 15px 0
}

section ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.display-text {
  font-size: 21px;
  line-height: calc(21px * 1.5);
  font-weight: 600;
  letter-spacing: 0;
  margin: 0;
}

.display-text--small {
  font-size: 16px;
  line-height: calc(16px * 1.5);
  font-weight: 600;
}

.display-text--regular {
  font-size: 21px;
  line-height: calc(21px * 1.5);
  font-weight: 600;
}

.display-text--large {
  font-size: 24px;
  line-height: calc(24px * 1.5);
  font-weight: 600;
}

.display-text--extra-large {
  font-size: 28px;
  line-height: calc(28px * 1.5);
  font-weight: 600;
}
.heading {
  font-size: 17px;
  line-height: calc(17px * 1.5);
  font-weight: 600;
  margin: 0;
  letter-spacing: 0;
}
.subheading {
  font-size: 13px;
  line-height: calc(13px * 1.5);
  font-weight: 600;
  margin: 0;
  letter-spacing: 0;
}
.caption {
  margin: 0;
  font-size: 12px;
  line-height: calc(12px * 1.5);
  letter-spacing: 0;
}
.content {
  padding: 15px 15px 15px calc(230px + 15px);
}
.sidebar {
  background: #373737;
  width: 230px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;

  & nav {
    width: 100%;
  }

  &> nav > ul {
    list-style: none;
    margin: 0;
    padding: 50px 0 0;
  }
}

.sidebar-item {
  color: #fff;
  border-bottom: 1px solid #6E6E6E;
  padding: 15px;
  cursor: pointer;

  &:last-child {
    border: none;
  }

  & a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;

    &:hover {
      color: #0F65D9;
    }
  }

  & .icon-arrow {
    fill: #fff;
    margin-left: 25px;
    display: none;
  }

  & .icon-arrow-right {
    display: block;
  }

  &> ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;

    &> .sidebar-item {
      padding: 7px 20px;
      border: 0;

      &:last-child {
        padding-bottom: 0;
      }

      & a {
        text-transform: capitalize;
      }
    }
  }

  &.sidebar-item--expanded {
    &> ul {
      max-height: 1000px;
      padding: 10px 0;
    }

    & .icon-arrow-right {
      display: none;
    }

    & .icon-arrow-down {
      display: block;
    }
  }
}
.card {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
  display: block;
}

.card-header {
  padding: 20px 20px 0;
}

.card-header .caption {
  color: #7d7d7d;
}

.card-body {
  font-size: 1rem;
  padding: 20px;
}

.card-footer {
  font-size: 14px;
  line-height: 21px;
  padding: 20px;
  border-top: 1px solid #dfe3e8;
}
.row {
  margin: 0 -10px;
  display: block;
}

.row:after {
  content: '';
  clear: both;
  display: table;
}

.col {
  float: left;
}

.col-1 {
  width: calc(100% / 12);
}


.col-2 {
  width: calc(100% / (12 / 2));
}

.col-3 {
  width: calc(100% / (12 / 3));
}

.col-4 {
  width: calc(100% / (12 / 4));
}

.col-5 {
  width: calc(100% / (12 / 5));
}

.col-6 {
  width: calc(100% / (12 / 6));
}

.col-7 {
  width: calc(100% / (12 / 7));
}

.col-8 {
  width: calc(100% / (12 / 8));
}

.col-9 {
  width: calc(100% / (12 / 9));
}

.col-10 {
  width: calc(100% / (12 / 10));
}

.col-11 {
  width: calc(100% / (12 / 11));
}

.col-12 {
  width: 100%;
}
.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  white-space: nowrap;
  line-height: 30px;
  height: 30px;
  padding: 0px 7.5px;
  vertical-align: middle;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  background: #0F65D9;
  outline: none;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button:hover {
  background: #0053D2;
}

.button:active {
  background: #00398C;
}

.button-icon-wrapper {
  line-height: normal;
  & svg {
    fill: #fff;
    display: block;
  }
}

.button-icon-wrapper + .button-content {
  margin-left: 5px;
}

.button--danger {
  background: #F2486A;

  & .button-icon-wrapper {
    & svg {
      fill: #fff;
    }
  }
}

.button--danger:hover {
  background: #EE0E3B;
}

.button--danger:active {
  background: #D10C40;
}

.button--neutral {
  background: #fff;
  border-color: #6E6E6E;
  color: #404040;

  & .button-icon-wrapper {
    & svg {
      fill: #404040;
    }
  }
}

.button--neutral:hover {
  background: #fff;
  border-color: #0053D2;
  color: #0053D2;

  & .button-icon-wrapper {
    & svg {
      fill: #0053D2;
    }
  }
}

.button--neutral:active {
  background: #fff;
  border-color: #00398C;
  color: #00398C;
}

.button--small {
  height: 25px;
  line-height: 25px;
  font-size: 10px;
  padding: 0 6.5px;
  font-weight: 600;
}

.button--large {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 10px;
  font-weight: 600;
}
.input-wrapper {
  position: relative;

  & .input {
    background: #fff;
    border: 1px solid #989898;
    min-width: 200px;
    min-height: 35px;
    border-radius: 4px;
    padding: 10px 8px;
    color: #000;
    outline: none;
    font-family: 'Open Sans';
    font-size: 14px;

    &::-webkit-input-placeholder {
      color: #BDBDBD;
    }

    &:-ms-input-placeholder {
      color: #BDBDBD;
    }

    &::placeholder {
      color: #BDBDBD;
    }

    &:focus,
    &:hover {
      border-color: #0F65D9;
    }

    &--error {
      border-color: #EE0E3B;
      color: #EE0E3B;

      &::-webkit-input-placeholder {
        color: inherit;
      }

      &:-ms-input-placeholder {
        color: inherit;
      }

      &::placeholder {
        color: inherit;
      }

      &:hover,
      &:focus {
        border-color: inherit;
      }

    }

    &--disabled {
      background-color: #DCDCDC;
      pointer-events: none;

      &::-webkit-input-placeholder {
        border-color: inherit;
      }

      &:-ms-input-placeholder {
        border-color: inherit;
      }

      &::placeholder {
        border-color: inherit;
      }

      &:focus,
      &:hover {
        color: inherit;
      }

    }

    &--icon {
      padding: 10px 8px 10px 35px;
    }

  }

  & .input-error-message {
    display: block;
    color: #EE0E3B;
    font-size: 12px;
    margin: 2.5px 0 0 0;
  }

  & .input-icon-wrapper {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

    & svg {
      fill: #989898;
    }

  }

  & .input--icon:focus + .input-icon-wrapper svg {
    fill: #0F65D9;
  }

}

.page-typography {

  & section > ul {
    &> li {
      background: #fff;
      padding: 15px;
      margin: 0 0 15px;
      box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);

      & ul {
        & li {
          display: inline-block;
          padding: 0 15px;
        }
      }
    }
  }

  & .button-text-style {
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
  }

  & .button-small-text-style {
    font-size: 10px;
    line-height: 25px;
    font-weight: 600;
  }

  & .row {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.page-grid {

  padding: 15px 0;

  & .card {
    margin-bottom: 15px;
  }

  & .row {
    margin: 0 0 15px;

    &:last-child {
      margin: 0;
    }
  }

  & .col {

    &> span {
      display: block;
      background: #4A90E2;
      padding: calc(15px / 2);
      font-weight: bold;
      text-align: center;
      color: #fff;
    }
  }
}
.page-colors {
  & .color {
    width: 100%;
    height: 40px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    &:nth-child(1),
    &:nth-child(2) {
      color: #000;
    }
  }

  & .card {
    margin: 0 0 15px;
  }
}
.icons-page {
  & .card {
    margin: 0 15px 15px 0;
    float: left;
    text-align: center;
    white-space: nowrap;
    width: 200px;
  }

  & .card-footer {
    font-size: 10px;
    line-height: calc(10px * 1.5);
  }
}
.buttons-page {
  & .button {
    margin-bottom: 15px;
  }
}
.inputs-page {
  & .input-wrapper {
    margin-bottom: 15px;
  }
}
