.accordions-page {

  & .card {
    margin-bottom: $gutter-base;
  }

  & .accordion .accordion-example {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid $color-grey-3;
    padding: 0 0 10px 0;

    & .user-avatar {
      margin-right: 15px;
    }

    &-inner-wrapper {
      & .accordion-example-action {
        margin: 0;
      }

      & .caption {
        color: $color-black-3;
      }
    }

  }

}
