.buttons-page {

  & .button {
    margin-bottom: $gutter-base;
  }
}

.dropdown-page .dropdowns {
  display: flex;
  align-items: center;

  & .dropdown {
    margin-right: $gutter-base;
  }
}

.loading-buttons .col {
  display: flex;

  & .button {
    margin-right: calc(2 * $gutter-base);
  }
}
