.icons-page {
  & .card {
    margin: 0 $gutter-base $gutter-base 0;
    float: left;
    text-align: center;
    white-space: nowrap;
    width: 200px;
  }

  & .card-footer {
    font-size: 10px;
    line-height: calc(10px * 1.5);
  }
}
