.inputs-page {

  & .input,
  & .select,
  & .multiselect {
    margin-bottom: $gutter-base;
  }

  & .multiselect {
    min-width: 130px;
  }

  & .input-wrapper .input {
    margin-bottom: 0;
  }

  & .input-wrapper,
  & .char-limit {
    margin-bottom: $gutter-base;
  }

}
