.layout-helper {
  & .sidebar {
    background: lightgrey;
    transition: .3s;
    height: 140px;
    padding: 12px;
    margin-left: -15px;
    margin-top: -14px;
    width: 200px;
    margin-bottom: 35px;
    overflow: hidden;
  }
}
