.select-page {

  & .card {
    margin-bottom: calc(2 * $gutter-base);
  }

  & .checkboxes {
    display: flex;

    & .checkbox:not(:last-child) {
      margin-right: calc($gutter-base / 2);
    }
  }
}
