{
  "extends": [
    "pi",
    "pi/es6",
    "pi/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "browser": true,
    "$": true,
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true,
    "afterEach": true,
},
  "rules": {
    "react/jsx-boolean-value": 0
  }
}
