.page-colors {
  & .color {
    width: 100px;
    height: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1),
    &:nth-child(2) {
      color: #000;
    }
  }

  & .card {
    margin: 0 0 $gutter-base;
  }
}
