.autosuggest-tagsinput {

  & .react-autosuggest__suggestions-container {
    width: 200px;
    padding: 0;
    position: relative;

    & .react-autosuggest__suggestions-list {
      padding: 5px 0;
      margin: 5px 0 0 0;
      position: absolute;
      height: auto;
      width: 100%;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 3px 0 rgba(63,65,65,.15);

      & .react-autosuggest__suggestion {
        list-style: none;
        height: 30px;
        width: 100%;
        overflow: hidden;
        padding: 5px 15px;
        cursor: pointer;
        display: flex;
        align-items: center;

        & .autosuggest-wrap {
          display: flex;
          align-items: center;

          & img.autosuggest-image {
            border-radius: 100%;
            margin-right: 10px;
          }


          & span.autosuggest-value {
            font-size: 12px;
            text-overflow: ellipsis;
            line-height: 30px;
            vertical-align: middle;
          }

        }

        &--highlighted {
          background: #efefef;
        }

      }

    }

  }

}
