@import './fonts.css';
@import './colors.css';
@import './variables.css';
@import './reset.css';

body {
  margin: 0;
  font-family: $font-family-base, sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: 0;
  background: $color-grey-1;
}

section {

  margin: $gutter-base 0;

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@import './display-text.css';
@import './heading.css';
@import './subheading.css';
@import './caption.css';
@import './content.css';
@import './sidebar.css';
@import './card.css';
@import './grid.css';
@import './button.css';
@import './input.css';
@import './tagsinput.css';
@import './select.css';

@import './pages/typography.css';
@import './pages/grid.css';
@import './pages/colors.css';
@import './pages/icons.css';
@import './pages/buttons.css';
@import './pages/inputs.css';
