.multi-action-button-wrapper {
  display: flex;
  &:hover .multi-action-button {
    border-color: #0F65D9;
    color: #0F65D9;
  }
  &:hover .icon svg {
    fill: #0F65D9;
  }
  &:active .multi-action-button {
    border-color: #0F65D9;
    color: #0053D2;
  }
  &:active .icon svg {
    fill: #0053D2;
  }
}

.multi-action-button {
  padding: 8px 20px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 4px;
}

.multi-action-button-default {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right-width: 0;
}

.multi-action-button-default-caret {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 15px 10px;
  &:hover {
    background: #0F65D9;
    & .icon svg {
      fill: #fff;
    }
  }
  &:active {
    background: #0053D2;
    color: #0053D2;
    & .icon svg {
      fill: #fff;
    }
  }
  & .icon {
    display: block;
    height: 15px;
    & svg {
      height: 15px;
      width: 15px;
    }
  }
}
