.multi-action-button-dropdown-component {
  display: inline-block;
  position: relative;
}

.multi-action-button-wrapper {
  display: flex;
  &:hover .multi-action-button {
    border-color: $multi-action-button-border-color--hover;
    color: $multi-action-button-border-color--hover;
  }
  &:hover .icon svg {
    fill: $multi-action-button-border-color--hover;
  }
  &:active .multi-action-button {
    border-color: $multi-action-button-border-color--hover;
    color: $multi-action-button-color--active;
  }
  &:active .icon svg {
    fill: $multi-action-button-color--active;
  }
}

.multi-action-button {
  padding: $multi-action-button-padding;
  background: #fff;
  border: $multi-action-button-border;
  border-radius: $border-radius-base;
  outline: none;
  font-family: $font-family-base;
  font-size: $button-font-size;
  cursor: pointer;
}

.multi-action-button-default {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right-width: 0;
}

.multi-action-button-default-caret {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 15px 10px;
  &:hover {
    background: $multi-action-button-border-color--hover;
    & .icon svg {
      fill: #fff;
    }
  }
  &:active {
    background: $multi-action-button-color--active;
    color: $multi-action-button-color--active;
    & .icon svg {
      fill: #fff;
    }
  }
  & .icon {
    display: block;
    height: 15px;
    & svg {
      height: 15px;
      width: 15px;
    }
  }
}

.multi-action-button-dropdown-menu {
  border-radius: $border-radius-base;
  box-shadow: $box-shadow-base;
  list-style: none;
  font-family: $font-family-base;
  font-size: $button-font-size;
  padding: 0;
  position: absolute;
  margin: 5px 0 0 0;
  display: inline-block;
  color: #2A2A2A;
  & li a {
    display: block;
    padding: 5px 50px 5px 20px;
    &:hover {
      background: #EFEFEF;
    }
  }

}
