.overlay-trigger {
  display: inline-block;
  position: relative;
  & .tooltip {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  & .popover {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  &--active {
    & .tooltip {
      opacity: 1;
    }
    & .popover {
      opacity: 1;
    }
  }
  &--top {
    & .tooltip {
      top: -100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &--right {
    & .tooltip {
      top: 50%;
      left: calc(100% + 10px);
      transform: translateY(-50%);
    }
  }
  &--bottom {
    & .tooltip {
      bottom: -100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &--left {
    & .tooltip {
      top: 50%;
      right: calc(100% + 10px);
      transform: translateY(-50%);
    }
  }
}
