.tooltip {
  display: inline-block;
  border-radius: $border-radius-base;
  position: relative;
  padding: 4px 13.44px 5px 13.44px;
  background: #000;
  color: #fff;
  font-family: $font-family-base;
  font-size: $font-size-base;
  white-space: nowrap;
  &-arrow--top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.04px 6.67px 5.04px;
    border-color: transparent transparent #000000 transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 28px;
  }
  &-arrow--right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5.04px 0 5.04px 6.67px;
    border-color: transparent transparent transparent #000000;
    position: absolute;
    right: -6px;
    bottom: 50%;
    transform: translateY(50%);
  }
  &-arrow--bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.67px 5.04px 0 5.04px;
    border-color: #000000 transparent transparent transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
  }
  &-arrow--left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5.04px 6.67px 5.04px 0;
    border-color: transparent #000000 transparent transparent;
    position: absolute;
    left: -6px;
    bottom: 50%;
    transform: translateY(50%);
  }
}
