/* Basic layout settings */
  $gutter-base: 15px;
  $box-shadow-base: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
  $border-radius-base: 4px;

/* Basic typography */

  $font-family-base: 'Open Sans';
  $font-size-base: 14px;
  $line-height-multiplier-base: 1.5;
  $line-height-base: calc($font-size-base * $line-height-multiplier-base);

/* Display text */

  /* Regular */
  $display-text-font-size-regular: 21px;
  $display-text-line-height-regular: calc($display-text-font-size-regular * $line-height-multiplier-base);
  $display-text-font-weight-regular: 600;

  /* Small */
  $display-text-font-size-small: 16px;
  $display-text-line-height-small: calc($display-text-font-size-small * $line-height-multiplier-base);
  $display-text-font-weight-small: 600;

  /* Large */
  $display-text-font-size-large: 24px;
  $display-text-line-height-large: calc($display-text-font-size-large * $line-height-multiplier-base);
  $display-text-font-weight-large: 600;

  /* Extra large */
  $display-text-font-size-extra-large: 28px;
  $display-text-line-height-extra-large: calc($display-text-font-size-extra-large * $line-height-multiplier-base);
  $display-text-font-weight-extra-large: 600;

/* Heading */

  $heading-font-size: 17px;
  $heading-line-height: calc($heading-font-size * $line-height-multiplier-base);
  $heading-font-weight: 600;

/* Subheading */

  $subheading-font-size: 13px;
  $subheading-line-height: calc($subheading-font-size * $line-height-multiplier-base);
  $subheading-font-weight: 600;

/* Caption */

  $caption-font-size: 12px;
  $caption-line-height: calc($caption-font-size * $line-height-multiplier-base);

/* Button */

  $button-font-size: 12px;
  $button-line-height: calc($button-font-size * $line-height-multiplier-base);
  $button-font-weight: 600;
  $button-horizontal-padding: 10px;
  $button-height: 35px;
  $button-line-height: 35px;

  $button-font-size-small: 10px;
  $button-font-weight-small: 600;
  $button-horizontal-padding-small: 6.5px;
  $button-height-small: 25px;
  $button-line-height-small: 25px;

  $button-font-size-large: 14px;
  $button-font-weight-large: 600;
  $button-horizontal-padding-large: 10px;
  $button-height-large: 40px;
  $button-line-height-large: 40px;

  $button-color-primary: #fff;
  $button-background-color-primary: $color-primary-3;
  $button-background-color-primary-hover: $color-primary-4;
  $button-background-color-primary-active: $color-primary-5;

  $button-icon-fill-primary: #fff;

  $button-color-danger: #fff;
  $button-background-color-danger: $color-danger-3;
  $button-background-color-danger-hover: $color-danger-4;
  $button-background-color-danger-active: $color-danger-5;

  $button-icon-fill-danger: #fff;

  $button-color-neutral: $color-black-4;
  $button-color-neutral-hover: $color-primary-4;
  $button-color-neutral-active: $color-primary-5;
  $button-background-color-neutral: #fff;
  $button-border-color-neutral: $color-black-3;
  $button-border-color-neutral-hover: $color-primary-4;
  $button-border-color-neutral-active: $color-primary-5;

  $button-icon-fill-neutral: $color-black-4;
  $button-icon-fill-neutral-hover: $color-primary-4;

/* Input */

  $input-border-color: $color-black-2;
  $input-border-radius: $border-radius-base;
  $input-border-color--focus-and-hover: $color-primary-3;
  $input-placeholder-color: $color-black-1;
  $input-color: #000;
  $input-background-color: #fff;

  $input-min-width: 200px;
  $input-min-height: 35px;
  $input-padding: 10px 8px;
  $input-font-family: $font-family-base;
  $input-font-size: $font-size-base;

  /* Error */

  $input-border-color--error: $color-danger-4;
  $input-color--error: $color-danger-4;
  $input-error-message-font-size: $caption-font-size;

  /* Disabled */

  $input-background-color--disabled: $color-grey-3;

  /* Input with an icon */

  $input-padding--icon: 10px 8px 10px 35px;
  $input-icon-fill: $color-black-2;
  $input-icon-fill--focus: $color-primary-3;

  /* Input label */

  $input-label-font-size: $font-size-base;
  $input-label-font-family: $font-family-base;

/* Select */

$select-height: 35px;
$select-padding: 7.5px 40px 7.5px 20px;
$select-icon-dimension: 20px;

$select-border-radius: $border-radius-base;
$select-border-color: $color-black-2;

$select-font-family: $font-family-base;
$select-font-size: $font-size-base;

$select-background-color: #fff;

$select-border-color--hover: $color-primary-4;
$select-font-color--hover: $color-primary-4;
$select-svg-fill--hover: $color-primary-4;
