.popover {
  display: inline-block;
  position: absolute;
  padding: $gutter-base;
  border-radius: $border-radius-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  background: #fff;
  box-shadow: 0 0 3px rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.15);
  z-index: 10;
}
