/* Textarea */

  $textarea-width: 250px;
  $textarea-height: 95px;
  $textarea-padding: calc((1/2) * $gutter-base) calc((3/4) * $gutter-base);

  $textarea-border-radius: $border-radius-base;
  $textarea-border-color: $color-grey-5;

  $textarea-bg-color: #fff;

  $textarea-font-family: $font-family-base;
  $textarea-font-color : $color-black-5;
  $textarea-placeholder-color: $color-black-2;
  $textarea-font-size: $font-size-base;

  /* disabled */

  $textarea-background-color--disabled: $color-light-grey-1;
  $textarea-border-color--disabled: $color-grey-3;

.textarea {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: $textarea-width;
  height: $textarea-height;
  padding: $textarea-padding;
  border-radius: $textarea-border-radius;
  border: 1px solid $textarea-border-color;
  background: $textarea-bg-color;
  color: $textarea-font-color;
  font-family: $textarea-font-family;
  font-size: $textarea-font-size;
  outline: none;
  appearance: none;
  resize: none;

  &::placeholder {
    color: $textarea-placeholder-color;
  }

  &--disabled {
    background: $textarea-background-color--disabled;
    border-color: $textarea-border-color--disabled;
    pointer-events: none;
    color: inherit;

    &:hover {
      border-color: inherit;
    }

  }

  &:focus::placeholder {
    color: transparent;
  }

  &--invisible {
    color: inherit;
    font: inherit;
    border: 0;
    padding: 0;
    &.textarea--disabled {
      background: inherit;
    }
  }

  &.autogrow {
    height: 100%;
  }
}

.autogrow .textarea {
  overflow: hidden;
}

.autogrow--measurer {
  height: 0;
}

.autogrow--measured {
  height: 0;
}

.rich-textarea {
  outline: none;
  &:empty::before {
    display: block;
    content: attr(placeholder);
    cursor: text;
    color: $textarea-placeholder-color;
  }
}
