$avatar-font-size--default: 24px;
$avatar-font-size--small: 12px;
$avatar-font-size--medium: 16px;
$avatar-font-weight: 700;
$avatar-font-color: #fff;

$avatar-caption-font-size: $caption-font-size;
$avatar-caption-line-height: $caption-line-height;
$avatar-caption-font-color: $color-black-2;

.user-avatar {

  &-img {
    width: $avatar-img-size;
    height: $avatar-img-size;
    overflow: hidden;

    & > img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }

  &-name {
    display: none;
  }

  &--small .user-avatar-img {
    width: $avatar-img-size--small;
    height: $avatar-img-size--small;
  }

  &--medium .user-avatar-img {
    width: $avatar-img-size--medium;
    height: $avatar-img-size--medium;
  }

  &--extra-large .user-avatar-img {
    width: $avatar-img-size--extra-large;
    height: $avatar-img-size--extra-large;
  }
}
