.chart-preloader {
  animation-name: thumbAnime;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.chart-preloader-title {
  background: #D8D8D8;
  border-radius: 4px;
  width: 37%;
  height: 12px;
  margin-bottom: 10px;
}

.chart-preloader-caption {
  background: #F1F1F1;
  border-radius: 4px;
  width: 75%;
  height: 10px;
  margin-bottom: 39px;
}

.chart-preloader-body {
  background: #F1F1F1;
  height: 213px;
}

.item {
  width: 320px;
  height: 112px;
  background: transparent;
  border-bottom: 1px solid lightGray;
  padding: 0 16px;
  animation-name: thumbAnime;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.line {
  height: 8px;
  background: rgba(178, 181, 186, .5);
  border-radius: 5px;
}

.photo {
  width: 80px;
  height: 80px;
  background: rgba(178, 181, 186, .5);
  margin-left: 208px;
  border-radius: 5px;
  margin-top: -60px;
}

@keyframes thumbAnime {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .2;
  }

  100% {
    opacity: 1;
  }
}

.chart-date-range-selector {
  border: 1px solid $color-grey-3;
  border-left: 0;
  border-right: 0;
  padding: 10px 28px;
  margin: 0 -$gutter-base $gutter-base;
  display: flex;
  align-items: center;

  & .icon {
    margin-right: $gutter-base;
  }
}

.chart-trace-summary-items {
  border-bottom: 1px solid $color-grey-3;
  margin: 0 -$gutter-base $gutter-base;
  padding: 0 $gutter-base 10px;

  & .chart-trace-summary-item {
    white-space: nowrap;
  }
}
