.chart-trace-summary-item {
  border-left: 4px solid;
  padding-left: 10px;
  font-size: $font-size-base;
  color: $color-black-5;
  margin-right: 40px;
  white-space: nowrap;

  & .display-text {
    font-weight: normal;
  }
}

.chart-trace-summary-item-date {
  font-size: 12px;
  color: $color-black-3;
}

.chart-trace-summary-item-data {

  font-size: 12px;
  font-weight: 600;

  & .icon {
    margin-right: 2px;
  }

  &--increase {
    color: $color-success-5;
    & .icon {
      & svg {
        fill: $color-success-5;
      }
    }
  }

  &--decrease {
    color: $color-danger-4;
    & .icon {
      & svg {
        fill: $color-danger-4;
      }
    }
  }
}
