.input {
  position: relative;

  & input {
    background: $input-background-color;
    border: 1px solid $input-border-color;
    min-width: $input-width;
    height: $input-height;
    border-radius: $input-border-radius;
    padding: $input-padding;
    color: $input-color;
    outline: none;
    font-family: $input-font-family;
    font-size: $input-font-size;

    &::placeholder {
      color: $input-placeholder-color;
    }

    &:focus,
    &:hover {
      border-color: $input-border-color--focus-and-hover;
    }

  }

  &--error input {
    border-color: $input-border-color--error;
    color: $input-color--error;

    &::placeholder {
      color: inherit;
    }

    &:hover,
    &:focus {
      border-color: inherit;
    }

  }

  &--disabled input {
    background-color: $input-background-color--disabled;
    pointer-events: none;

    &::placeholder {
      border-color: inherit;
    }

    &:focus,
    &:hover {
      color: inherit;
    }

  }

  &--icon .react-autosuggest__container:focus-within + .input-icon-wrapper svg {
    fill: $input-icon-fill--focus;
  }

  &--icon input {
    padding: $input-padding--icon;

    &:focus + .input-icon-wrapper svg {
      fill: $input-icon-fill--focus;
    }

  }

  & .input-error-message {
    display: block;
    color: $input-color--error;
    font-size: $input-error-message-font-size;
    margin: 2.5px 0 0 0;
  }

  & .input-icon-wrapper {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);

    & svg {
      fill: $input-icon-fill;
      height: 20px;
      width: 20px;
    }

  }

  & .input-label {
    display: block;
    margin: 0 0 5px;
    font-size: $input-label-font-size;
    font-family: $input-label-font-family;
  }

  & .react-autosuggest__suggestions-container--open {
    background: #fff;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-base;
    padding: 5px 0;
    position: absolute;
    z-index: 99999;
    width: 100%;

    & ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      width: 100%;

      &> li {
        font-size: 12px;
        font-weight: 400;
        height: 39px;
        cursor: pointer;
        padding: 0 15px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover,
        &.react-autosuggest__suggestion--highlighted {
          background: $color-grey-1;
        }
      }
    }
  }

}

.input-suggestion-title-wrapper {
  max-width: 140px;
}

.input-suggestion-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 17px;
  font-size: 14px;
}

.input-suggestion-caption {
  font-size: 12px;
  color: $color-black-3;
}

.input-suggestion-with-image {
  display: flex;
  align-items: center;

  & .input-suggestion-image {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;

    & img {
      width: 100%;
      display: block;
    }
  }
}
