/* Local variables */

$input-border-color: $color-black-2;
$input-border-radius: $border-radius-base;
$input-border-color--focus-and-hover: $color-primary-3;
$input-placeholder-color: $color-black-1;
$input-color: #000;
$input-background-color: #fff;

$input-width: 200px;
$input-height: 35px;
$input-padding: 5px 8px;
$input-font-family: $font-family-base;
$input-font-size: $font-size-base;

/* Error */

$input-border-color--error: $color-danger-4;
$input-color--error: $color-danger-4;
$input-error-message-font-size: $caption-font-size;

/* Disabled */

$input-background-color--disabled: $color-grey-3;

/* Input with an icon */

$input-padding--icon: 10px 8px 10px 35px;
$input-icon-fill: $color-black-2;
$input-icon-fill--focus: $color-primary-3;

/* Input label */

$input-label-font-size: $font-size-base;
$input-label-font-family: $font-family-base;

.input {
  display: inline-block;
  position: relative;

  & input {
    background: $input-background-color;
    border: 1px solid $input-border-color;
    min-width: $input-width;
    height: $input-height;
    border-radius: $input-border-radius;
    padding: $input-padding;
    color: $input-color;
    outline: none;
    font-family: $input-font-family;
    font-size: $input-font-size;
    /*
      On Mozilla there is a generated
      box-shadow, which needs to be disabled.
    */
    box-shadow: none;

    &::placeholder {
      color: $input-placeholder-color;
    }

    &:focus,
    &:hover {
      border-color: $input-border-color--focus-and-hover;
    }

  }

  & .input-state-icon {
    position: absolute;
    right: 7px;
    top: 9.5px;
    width: 17.5px;
    height: 17.5px;
    border-radius: 50%;

    & .icon {
      width: 17.5px;
      height: 17.5px;
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        fill: #fff;
        width: 15px;
        height: 15px;
      }
    }
  }

  &--success {

    & .input-state-icon {
      background-color: $color-success-4;
    }

    & input {
      padding-right: calc(2 * $gutter-base);
    }
  }

  &--error {

    & .input-state-icon {
      background-color: $input-color--error;
    }

    & input {
      border-color: $input-border-color--error;
      color: $input-color--error;
      padding-right: calc(2 * $gutter-base);

      &::placeholder {
        color: inherit;
      }

      &:hover,
      &:focus {
        border-color: $input-border-color--error;
      }
    }
  }

  &--disabled input {
    background-color: $input-background-color--disabled;
    pointer-events: none;

    &::placeholder {
      border-color: inherit;
    }

    &:focus,
    &:hover {
      color: inherit;
    }

  }

  &--icon .react-autosuggest__container:focus-within + .input-icon-wrapper svg {
    fill: $input-icon-fill--focus;
  }

  &--icon input {
    padding: $input-padding--icon;

    &:focus + .input-icon-wrapper svg {
      fill: $input-icon-fill--focus;
    }

  }

  & .input-error-message {
    display: block;
    color: $input-color--error;
    font-size: $input-error-message-font-size;
    margin: 2.5px 0 0 0;
  }

  & .input-icon-wrapper {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);

    & svg {
      fill: $input-icon-fill;
      height: 20px;
      width: 20px;
    }

  }

  & .input-label {
    display: block;
    margin: 0 0 5px;
    font-size: $input-label-font-size;
    font-family: $input-label-font-family;
  }

  & .react-autosuggest__suggestions-container--open {
    background: #fff;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-base;
    padding: 5px 0;
    position: absolute;
    z-index: 99999;
    width: 100%;

    & ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      width: 100%;

      &> li {
        font-size: 12px;
        font-weight: 400;
        height: 39px;
        cursor: pointer;
        padding: 0 15px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover,
        &.react-autosuggest__suggestion--highlighted {
          background: $color-grey-1;
        }
      }
    }
  }

}

.input-suggestion-title-wrapper {
  max-width: 140px;
}

.input-suggestion-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 17px;
  font-size: 14px;
}

.input-suggestion-caption {
  font-size: 12px;
  color: $color-black-3;
}

.input-suggestion-with-image {
  display: flex;
  align-items: center;

  & .input-suggestion-image {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;

    & img {
      width: 100%;
      display: block;
    }
  }
}
