.intellyo-list {
  user-select: none;

  & .list-new-button-wrap {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #DDD;
        border-radius: 4px;
      }

      & button {
        margin-right: 16px;
      }
  }
}

.intellyo-drag-sort {
  position: relative;
  padding-left: 16px;
  
  & .drag-and-drop-handle {
    position: absolute;
    background-color: #d8d8d8;
    width: 16px;
    left: 0;
    height: 100%;
    display: inline-block;
    cursor: move;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="3px" height="16px" viewBox="0 0 3 16" enable-background="new 0 0 3 16" xml:space="preserve"><circle fill="#989898" cx="1.5" cy="1.5" r="1.5"/><circle fill="#989898" cx="1.5" cy="14.5" r="1.5"/><circle fill="#989898" cx="1.5" cy="7.838" r="1.5"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px 0 0 4px;
  }
}

.intellyo-list-item {
  padding: 0.5rem 1rem;
  margin-bottom: .5rem;
  background-color: #f8f8f8;

}