.intellyo-list {
  user-select: none;

  & .list-new-button-wrap {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #DDD;
        border-radius: 4px;
      }

      & button {
        margin-right: 16px;
      }
  }
}

.intellyo-drag-sort {
  & .drag-and-drop-handle {
    background-color: green;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    marginRight: 0.75rem;
    cursor: move;
  }
}