.intellyo-list {
  user-select: none;
  
  & .list-new-button-wrap {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #DDD;
        border-radius: 4px;
      }

      & button {
        margin-right: 16px;
      }
  }
}