@import './components/main.css';

@import './pages/typography.css';
@import './pages/grid.css';
@import './pages/colors.css';
@import './pages/icons.css';
@import './pages/buttons.css';
@import './pages/inputs.css';
@import './pages/avatars.css';
@import './pages/cards.css';
@import './pages/tagsinput.css';
@import './pages/charts.css';
@import './pages/accordions.css';
@import './pages/tables.css';
@import './pages/modals.css';
@import './pages/sections.css';
@import './pages/tab-panels.css';
@import './pages/confirmations.css';
@import './pages/select.css';
@import './pages/index-page.css';
@import './pages/sidebar.css';

body {
  margin: 0;
  font-family: $font-family-base, sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: 0;
  background: $color-grey-1;
}

section {

  margin: $gutter-base 0;

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
