@import './fonts.css';
@import './colors.css';
@import './variables.css';
@import './reset.css';
@import './display-text.css';
@import './heading.css';
@import './subheading.css';
@import './caption.css';
@import './content.css';
@import './sidebar.css';
@import './card.css';
@import './grid.css';
@import './button.css';
@import './button-group.css';
@import './input.css';
@import './tagsinput.css';
@import './avatar.css';
@import './select.css';
@import './textarea.css';
@import './char-limit.css';
@import './tooltip.css';
@import './overlay-trigger.css';
@import './popover.css';
@import './dropdown.css';
@import './prefixed-input.css';
@import './table.css';
@import './chart.css';
@import './chart-trace-summary-item.css';
@import './horizontally-scrollable-row.css';
@import './accordion.css';
@import './empty-view';
@import './modal';
@import './option';
@import './option-separator';
@import './multiselect';
@import './overlay';
@import './toggleable-tags';
@import './avatar-editor';
@import './box';
@import './section';

@import './pages/typography.css';
@import './pages/grid.css';
@import './pages/colors.css';
@import './pages/icons.css';
@import './pages/buttons.css';
@import './pages/inputs.css';
@import './pages/avatars.css';
@import './pages/cards.css';
@import './pages/tagsinput.css';
@import './pages/charts.css';
@import './pages/accordions.css';
@import './pages/tables.css';
@import './pages/modals.css';
@import './pages/sections.css';
@import './pages/confirmations.css';

body {
  margin: 0;
  font-family: $font-family-base, sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: 0;
  background: $color-grey-1;
}

section {

  margin: $gutter-base 0;

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
