@import "rodal/lib/rodal.css";

/* Local variables */
$modal-shadow: $box-shadow-base;
$modal-overlay-background: rgba(0,0,0,.6);
$modal-gutter: calc((3/2) * $gutter-base);

.modal {

  & .rodal-mask {
    background: $modal-overlay-background;
  }

  & .rodal-dialog {
    border-radius: $border-radius-base;
    box-shadow: $modal-shadow;
    padding: 0;

    & .modal-header {
      padding: $modal-gutter 0 calc((3/4) * $gutter-base);
      margin: 0 $modal-gutter;
      border-bottom: 1px solid $color-grey-3;

      & .heading {
        margin-bottom: calc((1/2) * $gutter-base);
      }
    }

    & .modal-body {
      padding: $modal-gutter;
    }

    & .modal-footer {
      padding: 0 15px 15px;
    }
  }

  & .rodal-close {
    top: calc($modal-gutter + 4px);
    right: $modal-gutter;

    &::before,
    &::after {
      border-radius: 0;
    }
  }
}
