@import "rodal/lib/rodal.css";

/* Local variables */
$modal-shadow: $box-shadow-base;
$modal-overlay-background: rgba(0,0,0,.6);

.modal {
  
  & .modal-header,
  & .modal-body,
  & .modal-footer {
    padding: $gutter-base;
  }

  &--has-header .modal-body {
    padding-top: 0;
  }

  &--has-footer .modal-body {
    padding-bottom: 0;
  }

  & .rodal-mask {
    background: $modal-overlay-background;
  }

  & .rodal-dialog {
    border-radius: $border-radius-base;
    box-shadow: $modal-shadow;
    padding: 0;
  }

  & .rodal-close::before,
  & .rodal-close::after {
    border-radius: 0;
  }

  &--auto-height .rodal-dialog {
    height: auto;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-flow: column;

    & .modal-body {
      flex: 2;
      overflow: auto;
    }    
  }
}
