.overlay-trigger {
  display: inline-block;
  position: relative;

  & .overlay {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &--active {
    & .overlay {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
