.popover {
  display: inline-block;
  position: relative;
  padding: 20px 20px 22px 20px;
  border-radius: calc(2 * $border-radius-base);
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.15);
  font-family: $font-family-base;
  font-size: $font-size-base;
  max-width: 200px;
  /*& .popover-arrow {
    position: relative;
    margin: 3em;
    padding: 1em;
    box-sizing: border-box;
    top: 64px;
    background: #fff;
    //box-shadow: 0px 3px 3px 0 rgba(63, 63, 68, 0.15);
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      margin-left: -0.5em;
      bottom: -2em;
      left: 50%;
      box-sizing: border-box;
      border: 1em solid black;
      border-color: transparent transparent #fff #fff;
      transform-origin: 0 0;
      transform: rotate(-45deg);
      box-shadow: 0 3px 3px 0 rgba(63, 63, 68, 0.15);
    }
  }*/
}
