.popover {
  display: inline-block;
  position: absolute;
  padding: $gutter-base;
  border-radius: calc(2 * $border-radius-base);
  font-family: $font-family-base;
  font-size: $font-size-base;
  background: #fff;
  box-shadow: 0 0 3px rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.15);
  z-index: 10;

  & .popover-arrow-wrap {
    position: absolute;
  }

  & .popover-arrow, & .popover-arrow-cover {
    background: #fff;
    position: absolute;
  }

  & .popover-arrow {
    box-shadow: 0 0 3px rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.15);
    z-index: 11;
  }

  & .popover-arrow-cover {
    z-index: 12;
  }

  &--right .popover-arrow-wrap,
  &--left .popover-arrow-wrap {
    width: 16px;
    height: 30px;
    top: 7px;
  }

  &--top .popover-arrow-wrap,
  &--bottom .popover-arrow-wrap {
    width: 30px;
    height: 16px;
  }

  &--right {
    top: 0%;
    left: 100%;
    transform: translate3d(16px, -12px, 0);

    & .popover-arrow-wrap {
      left: 0;
    }

    & .popover-arrow {
      width: 16px;
      height: 16px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      left: -5px;
    }
    & .popover-arrow-cover {
      width: 16px;
      height: 30px;
    }
  }

  &--left {
    right: 100%;
    top: 0%;
    transform: translate3d(-16px, -12px, 0);

    & .popover-arrow-wrap {
      right: 0;
    }

    & .popover-arrow {
      width: 16px;
      height: 16px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      right: -5px;
    }
    & .popover-arrow-cover {
      width: 16px;
      height: 30px;
    }
  }

  &--top {
    bottom: 100%;
    left: 0%;
    transform: translate3d(0, -9px, 0);

    & .popover-arrow-wrap {
      bottom: 0;
    }

    & .popover-arrow {
      width: 16px;
      height: 16px;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }

    & .popover-arrow-cover {
      width: 30px;
      height: 16px;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--bottom {
    top: 100%;
    left: 0%;
    transform: translate3d(0, 9px, 0);

    & .popover-arrow-wrap {
      top: 0;
    }

    & .popover-arrow {
      width: 16px;
      height: 16px;
      top: -5px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }

    & .popover-arrow-cover {
      width: 30px;
      height: 16px;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
