/* Local variables */
$sauce-labs-text-color: #474C55;

.sidebar {
  background: #373737;
  width: 230px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $gutter-base 0;

  & nav {
    width: 100%;
  }

  &> nav > ul {
    list-style: none;
    margin: 0;
    padding: 50px 0 0;
  }

  & .saucelabs-logo-wrapper {
    background: #FFFFFF;
    padding: 7.5px 7.5px 2.5px 7.5px;
    width: 80%;
    margin: auto auto 0;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-base;

    & .saucelabs-logo {
      width: 100%;
    }

    & .saucelabs-logo-text {
      font-size: 10px;
      color: $sauce-labs-text-color;
      margin: 0;
      text-transform: uppercase;
      text-align: right;
    }
  }
}

.sidebar-item {
  color: #fff;
  border-bottom: 1px solid $color-black-3;
  padding: $gutter-base;
  cursor: pointer;

  &:last-child {
    border: none;
  }

  & a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;

    &> .icon {
      margin-right: 10px;
      & svg {
        fill: #fff;
      }
    }

    &:hover {
      color: $color-primary-1;
    }
  }

  & .icon-arrow {
    fill: #fff;
    margin-left: 25px;
    display: none;
  }

  & .icon-arrow-right {
    display: block;
  }

  &> ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;

    &> .sidebar-item {
      padding: 7px 20px 7px 30px;
      border: 0;

      &:last-child {
        padding-bottom: 0;
      }

      & a {
        text-transform: capitalize;
      }
    }
  }

  &.sidebar-item--expanded {
    &> ul {
      max-height: 1000px;
      padding: 10px 0;
    }

    & .icon-arrow-right {
      display: none;
    }

    & .icon-arrow-down {
      display: block;
    }
  }
}
