.tab-panel-container {

  & .tab-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $gutter-base;
    background-color: #fff;
    margin-bottom: $gutter-base;

    & .tab-panel-title-wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: $color-black-1;

      & .tab-panel-title-inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .tab-panel-image {
          width: 25px;
          height: 25px;

          & svg {
            fill: $color-black-1;
          }
        }
      }

      &:not(:last-child) {
        margin-right: $gutter-base;

        &::after {
          display: block;
          content: '';
          height: 1px;
          width: calc(2 * $gutter-base);
          background: $color-grey-4;
          margin-left: 12px;
        }
      }

      &--active {
        color: $color-primary-2;

        & .tab-panel-title {
          border-bottom: 3px solid $color-primary-2;
        }

        & .tab-panel-title-inner-wrapper {

          & .tab-panel-image svg {
            fill: $color-primary-2;
          }
        }
      }
    }
  }

  &--sticky .tab-list {
    position: sticky;
    top: 0;
  }
}
