.table {
  &--row {
    display: flex;
    flex-wrap: wrap;
  }

  &--cell {
    flex: 1;

    &--header {
      font-weight: bold;
    }

    &.expander {
      width: 32px;
      flex: initial;
    }

    &.id {
      width: 32px;
      flex: initial;
    }
  }
}
