.tagsinput {
  background: #fff;
  border-radius: $border-radius-base;
  border: 1px solid $color-black-1;
  padding: 5px 0 0 5px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.tagsinput-input {
  display: none;
}

/* @TODO needs discussion whether this is right */
.tagsinput-add-tag {
  border: none;
}

.tagsinput--input-visible {
  & .tagsinput-input {
    display: block;
  }
  & .tagsinput-add-tag {
    display: none;
  }
}

.tagsinput-tag {
  border-radius: $border-radius-base;
  background: $color-black-3;
  color: #fff;
  display: flex;
  float: left;
  height: 35px;
  line-height: 30px;
  white-space: nowrap;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  align-items: center;
  justify-items: center;
  font-size: 12px;

  & .icon {
    display: block;
    line-height: normal;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin-left: 5px;

    & svg {
      fill: $color-grey-4;
      width: 15px;
      height: 15px;

      &:hover {
        fill: #fff;
      }
    }
  }
}

.tagsinput-input-controls {
  display: inline-block;
  margin: 0 5px 5px 0;
}

.tagsinput--detailed {
  & .tagsinput-tag {
    height: 40px;
    display: flex;
  }

  & .tagsinput-input {
    height: 40px;
  }
}

.tagsinput-tag-image {
  border-radius: 100%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  & img {
    display: block;
    width: 100%;
  }
}

.tagsinput-tag-info-title {
  line-height: $line-height-base;
}

.tagsinput-tag-info-caption {
  font-size: 10px;
  line-height: 15px;
}

.tagsinput-tag-remove {
  opacity: 0;
}

.tagsinput-tag {
  &:hover {
    & .tagsinput-tag-remove {
      opacity: 1;
    }
  }
}
