$size-small: 24px;
$size-medium: 40px;
$size-large: 118px;

.intellyo-tile {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;

    & .icon {
      width: 100%;
      height: 100%;
      display: block;      
    }

    & svg {
      width: 100%;
      height: 100%;
    }

  &.tile {
    &-small {
      width: $size-small;
      height: $size-small;
    }

    &-medium {
      width: $size-medium;
      height: $size-medium;
    }    

    &-large {
      width: $size-large;
      height: $size-large;
    }    

    &-rounded {
      border-radius: 16%; 
    }

    &-circle {
      border-radius: 100%;
    }
  }
}