.tooltip {
  display: inline-block;
  border-radius: $border-radius-base;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0 15px;
  background: #000;
  color: #fff;
  font-family: $font-family-base;
  font-size: $font-size-base;
}
