/* Basic layout settings */
  $gutter-base: 16px;
  $box-shadow-base: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
  $border-radius-base: 4px;

/* Basic typography */

  $font-family-base: 'Open Sans';
  $font-size-base: 14px;
  $line-height-multiplier-base: 1.5;
  $line-height-base: calc($font-size-base * $line-height-multiplier-base);

/* Display text */

  /* Regular */
  $display-text-font-size-regular: 21px;
  $display-text-line-height-regular: calc($display-text-font-size-regular * $line-height-multiplier-base);
  $display-text-font-weight-regular: 600;

  /* Small */
  $display-text-font-size-small: 16px;
  $display-text-line-height-small: calc($display-text-font-size-small * $line-height-multiplier-base);
  $display-text-font-weight-small: 600;

  /* Large */
  $display-text-font-size-large: 24px;
  $display-text-line-height-large: calc($display-text-font-size-large * $line-height-multiplier-base);
  $display-text-font-weight-large: 600;

  /* Extra large */
  $display-text-font-size-extra-large: 28px;
  $display-text-line-height-extra-large: calc($display-text-font-size-extra-large * $line-height-multiplier-base);
  $display-text-font-weight-extra-large: 600;

/* Heading */

  $heading-font-size: 17px;
  $heading-line-height: calc($heading-font-size * $line-height-multiplier-base);
  $heading-font-weight: 600;

/* Subheading */

  $subheading-font-size: 13px;
  $subheading-line-height: calc($subheading-font-size * $line-height-multiplier-base);
  $subheading-font-weight: 600;

/* Caption */

  $caption-font-size: 12px;
  $caption-line-height: calc($caption-font-size * $line-height-multiplier-base);
  $caption-color: #d7d7d7;

  /* Avatars */

  $avatar-font-size--default: 24px;
  $avatar-font-size--small: 12px;
  $avatar-font-size--medium: 16px;
  $avatar-font-weight: 700;
  $avatar-font-color: #fff;

  $avatar-bg-color: $color-blue-4;

  /* Avatar name */

  $avatar-name-font-size: $heading-font-size;
  $avatar-name-line-height: $heading-line-height;
  $avatar-name-font-weight: $heading-font-weight;
  $avatar-name-font-color: $color-black-5;

  /* Avatar job & Avatar location */

  $avatar-caption-font-size: $caption-font-size;
  $avatar-caption-line-height: $caption-line-height;
  $avatar-caption-font-color: $color-black-2;

  /* Stacked avatar */

  $stacked-avatar-height: 25px;
  $stacked-avatar-min-width: 100px;

  $stacked-avatar--additional-font-color: $avatar-font-color;
  $stacked-avatar--additional-left: 45px;
  $stacked-avatar--additional-dimensions: 25px;
  $stacked-avatar--additional-font-size: $avatar-font-size--small;
  $stacked-avatar--additional-background-color: $color-primary-3;
  $stacked-avatar--additional-font-weight: $avatar-font-weight;
  $stacked-avatar--additional-border-raius: 100%;

  /* charCounter */

  $char-counter-margin: 0 5px 0 auto;
  $char-counter-font-size: 12px;
  $char-counter-font-color: $color-black-2;
  $char-counter-color--over-limit: $color-danger-3;

  /* Cards */

  $card-info-bg-color: $color-primary-2;
  $card-info-icon-margin: 5px;
  $card-info-icon-height: 22px;
